extends ../layout

block content
    section.content.paper.mz
        if trials.length > 0
            h1.title Trials
            table
                thead
                    tr
                        th Trial
                        th Conditions
                        th Link
                        th Action
                
                tbody
                    for trial in trials
                        tr
                            td= trial.label
                            td= trial.conditions.map( c => c.label ).join( ", ")
                            td
                                a.material-icons(href=`/randomize/${trial.hash}` title='preview') visibility
                                a.material-icons(title='copy to clipboard' onclick=`navigator.clipboard.writeText( window.location.protocol + "//" + window.location.hostname + ( window.location.port ? ( ":" + window.location.port ) : "" ) + "/randomize/${trial.hash}" ).then( _ => doToast("URL copied to clipboard") )` href="#") content_paste
                            td
                                a.material-icons(href=`/trials/${trial.id}` title='details') search
                                a.material-icons(href=`/trials/update/${trial.id}` title='edit') edit
                                a.material-icons.red-text(href=`/trials/delete/${trial.id}` title='remove') delete

        else 
            .cta
                h1.title Let's get started!
                p First off, create a trial. 
                p A trial is a single experiment or other event that can have any number of conditions for randomization. 

        a.btn( href= "/trials/create" ) 
            i.material-icons.left add
            | Create a Trial

